/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/



.wrappers {
	background-color: rgb(94, 79, 79);
}
.form  *{
	outline: none;
}
.form {
	max-width: 550px;
	margin: 0 auto;
	color: #fff;
	padding: 30px 0;
}
.form__body {
	position: relative;
}
.form__body::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(51, 51, 51, 0.9);
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease 0s;
}
.form__body._sending::after  {
	opacity: 1;
	visibility: visible;
}

_sending
.form__title {
	font-size: 40px;
	font-weight: 700;
	margin: 0 0 30px 0;
}
.form__item {
	margin: 0 0 20px 0;
}
.form__label {
	font-size: 18px;
	display: block;
	margin-bottom: 10px;
}
.form__input {
	height: 50px;
	padding: 0 20px;
	border-radius: 5px;
	width: 100%;
	font-size: 18px;
	transition: all 0.5s ease 0s;
}
.form__input:focus {
	box-shadow: 0 0 15px rgb(144, 219, 161);
}
.form__input._error {
	box-shadow: 0 0 15px red;
}

textarea.form__input {
	min-height: 120px;
	resize: vertical;
	padding: 20px;
}
.options {
	padding: 10px 0 0 0;
}
.options__item {
	margin: 0 0 10px 0;
}
.options__input {
	display: none;
}
.options__input:checked + .options__label::after {
	transform: scale(1);
}

.options__label {
	display: inline-flex;
	font-size: 16px;
	line-height: 140%;
	align-items: center;
	position: relative;
	cursor: pointer;
}
.options__label::before {
	content:'';
	align-self: flex-start;
	flex: 0 0 24px;
	height: 24px;
	background-color: #fff;
	border-radius: 50%;
	margin: 0 10px 0 0;
}
.options__label::after {
	transition: transform 0.3s ease 0s;
	content: '';
	position: absolute;
	top: 4px;
	left: 4px;
	width: 16px;
	height: 16px;
	background-color: #000;
	border-radius: 50%;
	transform: scale(0);
}



.file__item {
	position: relative;

}
.file__input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	font-size: 0;
	cursor: pointer;
}
.file__button {
	display: inline-flex;
	min-height: 40px;
	border-radius: 30px;
	justify-content: center;
	align-items: center;
	background-color: rgb(235, 54, 54);
	padding: 0 20px;
}
.file__preview {
	display: inline-block;
	max-width: 100px;
	padding: 10px 0 0 0;
}
.file__preview img {
	max-width: 100%;
}
.checkbox._error .checkbox__label::before {
	box-shadow: 0 0 15px red;
}
.checkbox__input {
	display: none;
}
.checkbox__input:checked + .checkbox__label::after {
	transform: scale(1);
}
.checkbox__label {
	font-size: 16px;
	line-height: 140%;
	display: inline-flex;
	align-items: center;
	position: relative;
	cursor: pointer;
}
.checkbox__label::before {
	content: '';
	align-self: flex-start;
	flex: 0 0 24px;
	height: 24px;
	background-color: #fff;
	border-radius: 4px;
	margin: 0 10px 0 0 ;
}
.checkbox__label::after {
	transition: transform 0.5s ease 0s;
	content: '';
	width: 16px;
	height: 16px;
	position: absolute;
	top: 4px;
	left: 4px;
	background-color: #000;
	border-radius: 4px;
	transform: scale(0);
}
.form__button {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60px;
	background-color: rgb(35, 230, 77);
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
	cursor: pointer;
	border-radius: 20px;
	box-shadow: 0 5px 0 rgb(29, 89, 42);
	transition: background-color 0.5s ease 0s ;
	position: relative;
	top: 0;
}
.form__button:hover {
	background-color: rgb(20, 131, 44);
}
.form__button:active {
	top: 3px;
	box-shadow: 0 2px 0 rgb(29, 89, 42);
}